body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root{
  width: 500px;
  padding: 100px;
  border-radius: 10px;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
}
button {
  margin: 0 20px;
  padding: 20px 50px;
  border-radius: 4px;
  background-color: rgb(91, 131, 133);
  outline: none;
  border: 0;
  color: white;
}
